body    {
    background-color: #1BA098;
}
  
#title  {
    text-color: #DEB992;
    background-color: #051622;
    margin-left: auto;
    margin-right: auto;
}

header  {
    background-color:  #051622;
}

form    {
    text-color:#DEB992;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #051622;
    border-radius: 10px;
    border-width: 2px;
    width: 50%
}
