@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

body  {
  font-family: Dosis;
  line-height: 1.4;
  background-color:#66a3ff;
  width: 500px;
  margin: auto;
}

form   {
  background-color: #cce0ff;
  padding: 1.5rem;
  border-radius: 2%;
  width: 500px;
  border-width: 1.5px;
  border-color: #000066;
}

.button {
  width: 100%;
  padding: 0.75rem;
  background-color: #8585ad;
  color: white;
  border-width: 1px;
  border-color: black;
  cursor: pointer;
}

.label-name {
  display: block;
  width: 90%;
  height: 2rem;
  padding: 0.25rem, 0.75rem;
}
